<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Protected</title>
    <style>
      .flex { display: flex; flex-flow: row wrap; justify-content: center;
      align-items: center; } .formified { border: 1px solid #dcdcdc; padding:
      4px; color: black; } @media screen and (max-width: 480px) { .flex {
      flex-flow: column wrap; } }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>