<div class="flex" style="margin: 29px;">
  <div style="margin: 2px;">
    <form
      action="/login"
      method="POST"
      enctype="application/x-www-form-urlencoded"
    >
      <div style="display: flex; flex-flow: row wrap; padding: 2px;">
        <input
          placeholder="Enter password"
          class="formified"
          style="margin: 3px;"
          type="password"
          name="password"
          required
        />
        <button
          style="margin: 3px; padding: 12px; border: none; background-color: teal;"
          type="submit"
        >Submit</button>
      </div>
      {{#if message}}
        {{message}}
      {{/if}}
    </form>
  </div>
</div>